#About{
    margin-bottom: 0;
      padding-top: 20px;
}

#about_container{
    padding: 25px 0 40px 25px;
}
#about_container h4{
    font-family: 'OstrichSansBlack';
    color: #0D4667;
    text-shadow: 1px 1px 0px #84BBDB;
    font-size: 28px;
    margin-top: 20px;
}
blockquote{
    border-left: 5px solid #7cb3d3;
    font-style: italic;
    padding: 10px;
    margin: 20px;
}

b {
    font-weight: bold;
}
